*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
@font-face {
    font-family: "cerapro-medium";
    src: url(../fonts/CeraPro-Medium.ttf);
}
.conteiner {
    font-family: "cerapro-medium";
    width: 41.666%;
    margin: 0 auto;
    font-size: 14px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.content {
    width: 60%;
}
header a{ 
    color: #46a358;
}

header {
    font-size: 1.42rem;
    font-weight: 500;
    padding-bottom: 40px;
}
.content p {
    font-weight: 400;
    font-size: 0.928rem;
    padding-bottom: 14px;
} 
 input, button{
    border-color: #EAEAEA;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 16px;
    background: #FFFFFF;
}
.login {
   background-color: #46a358;
   font-size: 1.14rem;
   font-weight: 700;
   text-align: center;
   color: #FFFFFF;
   margin-top: calc(40px - 12px);
}
.register {
    border-left: #EAEAEA;
    border: 100%;
    text-align: center;
}
 a {
  
    text-decoration: none;
}
.content li {
    color: #727272;
}
.icon {
   display: flex;
    width: 20px;
    height: 20px;
}
.content a {
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .loader::after {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 48%;
    right: 0;
    content: " ";
    display: block;
    height: 42px;
    width:42px;
    border:solid;
    border-width: 4px;
    border-radius: 50%;
    border-top-color: rgb(230, 247, 247);
    border-bottom-color: rgb(38, 46, 46);
    border-left-color: rgb(207, 233, 233);
    border-right-color: rgb(38, 46, 46);
    animation: rotating 2.2s linear infinite;
   } */
  .loader {
      position: absolute;
      top: 50%;
      left: 48%;
      width: 60px;
      height: 25px;
      border: 2px solid;
      box-sizing: border-box;
      border-radius: 50%;
      display: grid;
      animation: l2 2s infinite linear;
    }
    .loader:before,
    .loader:after {
      content: "";
      grid-area: 1/1;
      border: inherit;
      border-radius: 50%;
      animation: inherit;
      animation-duration: 3s;
    }
    .loader:after {
      --s:-1;
    }
    @keyframes l2 {
       100% {transform:rotate(calc(var(--s,1)*1turn))}
    }
  