
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:"CeraPro-Medium" ;
    src:url(../fonts/CeraPro-Medium.ttf );
}
img{
    width: 100%;
}
.conteiner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 69px 120px; 
    width: 90%;
}
.top-block {
    display: flex;
    gap: 28px;
   row-gap: 128px;
}
.left-col {
    text-align: end;
    display: flex;
    background: #FBFBFB;
   width: 45%;
}
.right-col {
    text-align: end;
    display: flex;
    background: #FBFBFB;
    width: 45%;
}
.text-for-img p{
    font-family: "carapro-medium";
    padding: 9px 0px 25px 0;
}
.text-for-img h2{
    font-family: "cerapro-medium";
    size: 18px;
}
.text-for-img button{
    width: 140px;
    height: 40px;
    background: #46A358;
    color: #FFFFFF;
    border-radius: 6px;
    border: transparent;
    font-weight: 500;
}
.text-for-img {
   padding: 37px 30px 0 0;
    
}
.buttom {
    display: flex;
    gap: 44px;
}
.header {
    text-align: center;
    padding: 146px 0 35px;
} 
.head{
    width: 100%;
}
.buttom-menu a{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    font-family: "cerapro-medium";
    color: #3D3D3D;
    font-weight: 500;
}
.buttom-menu p{
    padding-bottom: 9px;
    color: #727272;
    font-weight: 400;
}
.buttom-menu h5{
    color: #46A358;
    font-weight: 500;
    
}
.buttom-menu h3{
    padding: 4px 0 4px 0;
    font-weight: 700;
    font-family: "cerapro-medium";
}
.buttom-menu {
   
    background: #FBFBFB;
}