
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loader{
    width: 100%;
    height: 100%;
    display: block;
}
.loader::after {
  position: absolute;
  top: 50%;
  bottom: 14%;
  left: 50%;
  right: 0;
  content: " ";
  display: block;
  height: 42px;
  width:42px;
  border:solid;
  border-width: 6px;
  border-radius: 50%;
  border-top-color: rgb(71, 238, 238);
  border-bottom-color: rgb(71, 238, 238);
  border-left-color: rgb(38, 46, 46);
  border-right-color: rgb(38, 46, 46);
  animation: rotating 1.2s linear infinite;
 }
 