@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  font-family: "Montserrat";
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

.conteiner {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;
  z-index: 100;
  max-width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.conteiner-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.conteiner-header.active {
  background: #323264;
}

.header_heading1-h1 {
  padding-top: 50px;
  padding-left: 60px;
  font-size: 2.25rem;
  font-weight: 400;
  text-align: left;
  display: flex;
  gap: 4px;
}
.header_heading1-h1 h1 {
  font-size: 36px;
  color: #323264;
}

.header_heading2 {
  padding-top: 50px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first {
  display: none;
}

.sircles {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E6E6F0;
}

.header-heading2-buttom {
  align-self: flex-end;
}
.header-heading2-buttom nav {
  display: flex;
  gap: 14px;
}
.header-heading2-buttom a {
  font-weight: 700;
  border-bottom: 2px transparent solid;
}
.header-heading2-buttom a:hover {
  border-bottom: 2px #f0145a solid;
  color: #F0145A;
}

.header_heading2-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  padding-bottom: 16px;
}
.header_heading2-top div:last-child {
  border: 2px transparent solid;
  width: 38px;
  height: 38px;
  transition: 0.4s 0.3s;
  display: flex;
  align-items: center;
}
.header_heading2-top svg path {
  transition: 0.4s 0.3s;
}
.header_heading2-top svg {
  transition: 0.3s 0.4s;
}
.header_heading2-top svg:hover g > path {
  fill: #24A3FF;
  transition: 1s;
}
.header_heading2-top svg:hover {
  width: 38px;
  height: 38px;
  transition: 1s;
}
.header_heading2-top a {
  font-weight: 700;
  color: #B3B3BA;
  padding: 5px 7px;
}
.header_heading2-top a:active {
  background-color: #F0145A;
  color: #FFFFFF;
  transition: 99999s;
}
.header_heading2-top a:hover {
  background-color: #F0145A;
  border-radius: 8px;
  color: #FFFFFF;
}
.header_heading2-top .icon-fb:hover {
  fill: #f0145a;
}
.header_heading2-top p {
  color: #B3B3BA;
}

a {
  text-decoration: none;
  color: #24A3FF;
}

main {
  width: 70.833%;
  margin: 0 auto;
  display: grid;
  gap: 60px;
  grid-template-rows: 9.48% 44.11%;
  padding: 60px 0;
  gap: 60px;
}

.img {
  grid-row: auto;
  grid-column: auto;
}

.first {
  align-items: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.second {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 30px;
}
.second > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services_menu-headding h3 {
  font-weight: 700;
  color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

.sab-header p:first-child {
  color: #B3B3BA;
}
.sab-header h2 {
  font-size: 38px;
  font-weight: 700;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sab-header h3 {
  font-size: 14px;
  color: #323264;
  font-weight: 700;
}

.sab_header-links {
  display: flex;
  align-items: start;
  gap: 10px;
}

.vertical-line {
  border-bottom: 4px #E6E6F0 solid;
}

main div img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

main div:nth-child(1) {
  max-height: 500px;
}

.last-line {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 83.333%;
  margin: 0 auto;
  color: #000000;
  padding: 30px 0;
}
.last-line svg path {
  fill: #24a3ff;
}
.last-line .last_line-sircles {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #B3B3BA;
}
.last-line .location {
  display: flex;
  justify-content: space-between;
}
.last-line .location p:last-child {
  font-weight: 400;
  color: #B3B3BA;
}
.last-line .location-drg {
  display: flex;
  align-items: center;
  gap: 10px;
}

.last_line-contacts {
  display: flex;
  align-items: center;
  gap: 10px;
}
.last_line-contacts .phone-n {
  color: #46466E;
}

@media screen and (max-width: 1440px) {
  main {
    width: 75%;
  }
}
@media screen and (max-width: 1025px) {
  main div img {
    width: 300px;
    height: 375px;
  }
  main {
    width: 88.281%;
  }
  .sab_header-links {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 769px) {
  main {
    display: grid;
    grid-template-rows: 13.776% 47.2%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 84.375%;
  }
  main div:nth-child(1) {
    width: 100%;
  }
  .second > div {
    display: none;
  }
  .sab-header {
    flex-direction: column;
  }
  .second {
    width: 84.375%;
    margin: 0 auto;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .sircles {
    display: none;
  }
}

/*# sourceMappingURL=team-entry.css..map */
