@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  font-family: "Montserrat";
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

.conteiner {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.conteiner-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 83.333%;
  margin: 0 auto;
}

.conteiner-header.active {
  background: #323264;
}

.header_heading1-h1 {
  padding-top: 50px;
  padding-left: 60px;
  font-size: 2.25rem;
  font-weight: 400;
  text-align: left;
  display: flex;
  gap: 4px;
}
.header_heading1-h1 h1 {
  font-size: 36px;
  color: #323264;
}

.header_heading2 {
  padding-top: 50px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first {
  padding-left: 30px;
  display: none;
}

.sircles {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E6E6F0;
}

.header-heading2-buttom {
  align-self: flex-end;
}
.header-heading2-buttom nav {
  display: flex;
  gap: 14px;
}
.header-heading2-buttom a {
  font-weight: 700;
  border-bottom: 2px transparent solid;
}
.header-heading2-buttom a:hover {
  border-bottom: 2px #f0145a solid;
  color: #F0145A;
}

.header_heading2-top {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-bottom: 16px;
}
.header_heading2-top div:last-child {
  border: 2px transparent solid;
  width: 38px;
  height: 38px;
  transition: 0.4s 0.3s;
  display: flex;
  align-items: center;
}
.header_heading2-top svg path {
  transition: 0.4s 0.3s;
}
.header_heading2-top svg {
  transition: 0.3s 0.4s;
}
.header_heading2-top svg:hover g > path {
  fill: #24A3FF;
  transition: 1s;
}
.header_heading2-top svg:hover {
  width: 38px;
  height: 38px;
  transition: 1s;
}
.header_heading2-top a {
  font-weight: 700;
  color: #B3B3BA;
  padding: 5px 7px;
}
.header_heading2-top a:active {
  background-color: #F0145A;
  color: #FFFFFF;
  transition: 99999s;
}
.header_heading2-top a:hover {
  background-color: #F0145A;
  border-radius: 8px;
  color: #FFFFFF;
}
.header_heading2-top .icon-fb:hover {
  fill: #f0145a;
}
.header_heading2-top p {
  color: #B3B3BA;
}

a {
  text-decoration: none;
  color: #24A3FF;
}

main {
  background: #FFFFFF;
  width: 70.833%;
  margin: 0 auto;
  display: grid;
  gap: 60px;
  grid-template-rows: auto;
  grid-template-areas: "img first" "img second";
  grid-auto-flow: dense;
  padding: 60px 0;
  gap: 30px;
}

.img {
  grid-area: img;
}

.first {
  grid-area: first;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.second {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  padding-left: 30px;
  gap: 30px;
  grid-area: second;
}
.second > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services_menu-headding h3 {
  font-weight: 700;
  color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

.sab-header p:first-child {
  color: #B3B3BA;
}
.sab-header h2 {
  font-size: 38px;
  font-weight: 700;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sab-header h3 {
  font-size: 14px;
  color: #323264;
  font-weight: 700;
}

.sab_header-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vertical-line {
  border-bottom: 4px #E6E6F0 solid;
}

main div img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

footer {
  background: #F5F5FA;
}

.last-line {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 83.333%;
  margin: 0 auto;
  color: #000000;
  padding: 30px 0;
}
.last-line svg path {
  fill: #24a3ff;
}
.last-line .last_line-sircles {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #B3B3BA;
}
.last-line .location {
  display: flex;
  justify-content: space-between;
}
.last-line .location p:last-child {
  font-weight: 400;
  color: #B3B3BA;
}
.last-line .location-drg {
  display: flex;
  align-items: center;
  gap: 10px;
}

.last_line-contacts {
  display: flex;
  align-items: center;
  gap: 10px;
}
.last_line-contacts .phone-n {
  color: #46466E;
}

@media screen and (max-width: 1440px) {
  main {
    width: 75%;
    grid-template-rows: 12.48% 57.028%;
  }
}
@media screen and (max-width: 1025px) {
  .header_heading1-h1 {
    padding-left: 0;
  }
  .first {
    padding-left: 30px;
  }
  main div img {
    width: 300px;
    height: 375px;
  }
  .conteiner-header {
    width: 88.28%;
  }
  .header_heading2 {
    padding-right: 0;
  }
  main {
    width: 88.281%;
    grid-template-rows: 20.48% 57.028%;
  }
  .sab_header-links {
    flex-direction: column;
    align-items: flex-start;
  }
  .header {
    gap: 10px;
  }
  .sircles {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  .header_heading2 {
    padding-right: 0;
    gap: 120px;
  }
  .header_heading2-top {
    gap: 4px;
  }
  .header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .header .header-heading2-buttom {
    order: 2;
    overflow-y: auto;
    padding-right: 14px;
    align-self: self-start;
  }
  .header .header_heading1-h1 {
    position: absolute;
    top: 105px;
    padding-top: 0;
    padding-left: 0;
  }
  .sircles {
    display: none;
  }
  main {
    grid-template-areas: " img  first" " second second";
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 88.375%;
  }
  main div img {
    width: 300px;
    height: 375px;
  }
  .sab-header {
    flex-direction: column;
  }
  .first {
    width: 91.19%;
    grid-column: span 2;
    padding-left: 0;
  }
  .second {
    grid-column: span 2;
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .sircles {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .conteiner {
    width: 100vh;
  }
}
@media screen and (max-width: 376px) {
  main div img {
    width: 100%;
  }
  .header .header-heading2-buttom {
    order: 2;
    overflow-y: auto;
    padding: 10px 6px;
    margin: 12px 14px;
    align-self: self-end;
  }
  .mobile-nav {
    width: 95.73%;
    height: 100vh;
    border-radius: 6px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #FFFFFF;
    padding: 64px 12px;
    transition: 0.6s ease-in;
  }
  nav.active {
    position: fixed;
    object-position: center;
    transform: translateY(0);
    top: 150px;
    left: 8px;
  }
  nav.active a {
    color: #24a3ff;
    background: #F5F5FA;
    width: 100%;
    text-align: center;
    border-radius: 6px;
  }
  .header .header_heading2 {
    padding-left: 0;
    padding-top: 0;
    gap: 0;
    width: 100%;
  }
  .header_heading2-top div:last-child {
    display: none;
  }
  .header .header_heading2-buttom {
    display: flex;
    align-self: flex-end;
    padding: 10px 6px;
    margin: 12px 14px;
  }
  .header .header_heading2-buttom a {
    color: #24a3ff;
    background: #F5F5FA;
    width: 100%;
    text-align: center;
    border-radius: 6px;
  }
  .header .header_heading2-buttom a:hover {
    color: #F0145A;
    border-bottom: #FFFFFF;
  }
  .header .header_heading1-h1 {
    padding-left: 14px;
    top: 60px;
  }
  .header .header_heading1-h1 h1 {
    font-size: 20px;
    color: #323264;
  }
  .header .header_heading1-h1 svg {
    width: 70px;
    height: 32px;
  }
  .header .header_heading1-h1 svg:nth-child(2) {
    width: 12px;
    height: 26px;
  }
  .header_heading2-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5FA;
    padding: 10px 16px;
  }
  .header_heading2-top div {
    display: none;
  }
  footer {
    padding-bottom: 30px;
  }
  footer .cards_menu div {
    width: 33.333%;
  }
  .header_heading2-buttom-brg {
    z-index: 101;
    display: flex;
    align-items: center;
    position: relative;
    width: 18px;
    height: 14px;
    cursor: pointer;
  }
  .header_heading2-buttom-brg span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #323264;
  }
  .header_heading2-buttom-brg span::before, .header_heading2-buttom-brg span::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #323264;
    position: absolute;
    transition: 0.5s ease-in-out;
  }
  .header_heading2-buttom-brg span::before {
    top: 0;
  }
  .header_heading2-buttom-brg span::after {
    bottom: 0;
  }
  .header_heading2-buttom-brg.active span::after {
    bottom: 6px;
    transform: rotate(-45deg);
  }
  .header_heading2-buttom-brg.active span::before {
    top: 6px;
    transform: rotate(45deg);
  }
  .header_heading2-buttom-brg.active span {
    background-color: transparent;
  }
  .last-line {
    position: relative;
  }
  .last-line .location {
    flex-direction: column;
  }
  .last_line-contacts {
    flex-direction: column;
  }
  .location {
    gap: 20px;
  }
  .location p:last-child {
    align-self: center;
    position: absolute;
    top: 250px;
    left: 0;
  }
  .header-heading2-buttom .active {
    position: fixed;
    right: 20px;
  }
  .last_line-sircles {
    display: none;
  }
  .location-drg {
    flex-direction: column;
  }
  .location-drg p:last-child {
    align-self: flex-end;
  }
  .article-menu:nth-child(1) {
    width: 100%;
  }
  .article-menu:nth-child(2) {
    width: 100%;
  }
  .conteiner {
    width: 100%;
  }
  main {
    grid-template-areas: " img " "first" " second";
    width: 84%;
  }
  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
  }
  .last-line {
    position: relative;
    height: 274px;
  }
  .last-line .location {
    flex-direction: column;
  }
  .last_line-contacts {
    flex-direction: column;
  }
  .location {
    gap: 20px;
  }
  .location p:last-child {
    align-self: center;
    position: absolute;
    top: 220px;
    left: 22px;
  }
  .location-drg {
    flex-direction: column;
  }
  .location-drg p:last-child {
    align-self: flex-end;
  }
  .conteiner-header {
    width: 100%;
  }
}

/*# sourceMappingURL=team-entry.css.map */
